    /* Reset some default styles */
    body, html {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    /* Create a container to hold the sidebar and main content */
    .container {
        display: flex;
        position: relative;
    }

    /* Style for the sidebar */
    .sidebar {
        width: 210px;
        background-color: #002966;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        transition: transform 0.3s;
        z-index: 2;
    }

    .profile img {
        width: 100px;
        border-radius: 50%;
    }

    .menu {
        list-style: none;
        padding: 0;
    }

    .menu li {
        margin-bottom: 10px;
    }

    h2 {
        color: white;
    }

    .menu a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        display: block;
    }

    /* Style for the main content */
    .content {
        flex: 1;
        background-color: #ffffff;
        padding: 20px;
        margin-left: 250px; /* Keep the sidebar initially visible */
    }

    /* Hamburger button style */
    .hamburger-button {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        color: #333;
        font-size: 24px;
        z-index: 3;
    }

    /* Responsive styles */
    @media screen and (max-width: 768px) {
        .sidebar {
            transform: translateX(-250px); /* Hide the sidebar on mobile by default */
        }

        .hamburger-button {
            display: block;
        }

        .container.open .sidebar {
            transform: translateX(0); /* Show the sidebar on mobile when the button is clicked */
        }

        .container.open .content {
            margin-left: 0;
        }
    }


    /* div main */

    /* Styling for the popup container */
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 1;
    }
    
    /* Styling for the popup content */
    .popup-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        position: relative;
    }
    
    /* Styling for the close button */
    .close {
        color: #aaaaaa;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

/* PAINEL RESPONSIVO */

.painel{    
    width: 84vw;
    height: 95vh;
    background-color: rgb(235, 235, 235);
}

/* Estilos para telas grandes (desktop) */
.content {
    width: 80%;
    margin: 0 auto; /* Centralizar horizontalmente */
    margin-left: 255px;
}

/* Estilos para telas menores (dispositivos móveis) */
@media screen and (max-width: 768px) {
    .content {
        width: 100%; /* Ocupar toda a largura da tela */
        padding: 10px; /* Adicionar algum espaço entre o conteúdo e as bordas */
        margin-left: auto;
    }
}
